.side
  .side__header
    .side__header__box
      .side__header__box__name
        名前
      .side__header__box__icon
        = link_to"#"do
          %i.fa.fa-edit
        = link_to"#"do
          %i.fa.fa-cog
  .side__groups
    .group-name
      魔王軍
    .group-message
      魔王
  .side__groups
    .group-name
      反乱軍
    .group-message
      人間A