
.wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.main {
  height: 100vh;
  width: calc(100vw - 300px);
  background-color: #fafafa;
  box-sizing: border-box;

  &__header {
    height: 100px;
    // width: calc(100vw - 300px);
    background-color: #ffffff;
    border-bottom: 1px solid #eeeeee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;
    

    .group-name {
      padding: 35px 40px 15px 40px;
      font-size: 20px;
      color: #333333;
    }
    .group-member {
      font-size: 12px;
      color: #999999;
    }

    
    .main__header__edit-btn {
      
      font-size: 16px;
      color: #38aef0;
      border: 1px solid #38aef0;
      padding: 10px 20px 10px 20px;
      margin: 28px 0px 32px 0px;
      a {
        text-decoration: none;
      }
      
    }
  }

  .messages {
    background-color: #FAFAFA;
    box-sizing: border-box;
    padding: 35px 0 0 40px;
    height: calc(100vh - 100px - 90px);
    overflow: scroll;
  }
    .message {
      .upper-message {
        display: flex;
        &__user-name {
          // margin-top: 40px;
          color: #434a54;
          font-size: 16px;
          font-weight: bold;
        }
        &__date {
          color: #999;
          font-size: 12px;
          padding-left: 10px;
        }
      }
      .lower-message {
        margin-top: 10px;
          color: #434a54;
          font-size: 14px;
          margin-bottom: 40px;
      }
    }
  

  .form {
    background-color: #DDDDDD;
    box-sizing: border-box;
    height: 90px;
    padding: 20px 50px 20px 40px;
    &__message {
      border: none;
      float: left;
      height: 50px;
      width: calc(100% - 150px);
    }
    &__mask {
      background-color: white;
      float: left;
      height: 50px;
      padding-right: 10px;
      &__image {
        font-size: 20px;
        line-height: 50px;
      }
      .hidden {
        display: none;
      }
    }
    &__submit {
      background-color: lightblue;
      border: none;
      color: white;
      float: right;
      font-size: 16px;
      height: 50px;
      margin-left: 15px;
      padding: 0 30px;
    }
  }
}




.side {
  box-sizing: border-box;
  height: 100vh;
  width: 300px;
  background-color: #2f3e51;

  &__header {
    height: 100px;
    width: 300px;
    background-color: #253141;
    display: flex;
    align-items: center;
    
    &__box {
      
      height: 20px;
      width: 100%;
      margin: 0 20px;
      display: flex;
      justify-content: space-between;
      a {
        text-decoration: none;
        color: #ffffff;
      }
      

      &__name {
        color: #ffffff

      }
    } 
  }
  
  &__groups {
    padding: 20px 20px 40px 20px;
  
  .group-name {
    color: #ffffff;
    font-size: 15px;
  }
  .group-message {
    color: #ffffff;
    font-size: 11px;
    margin-bottom: 40px;
    
  }
 }
}
    


